USE [master]
GO
/****** Object:  Database [BDClubSocios]    Script Date: 15/7/2021 21:20:27 ******/
CREATE DATABASE [BDClubSocios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDClubSocios', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDClubSocios.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDClubSocios_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDClubSocios_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDClubSocios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDClubSocios]
GO
/****** Object:  StoredProcedure [dbo].[spListarSociosActivos]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spListarSociosActivos]
	
AS
declare @nombre nvarchar(50), @apellido nvarchar(50)

declare cSocios cursor scroll for
		select nombre, apellido
		from Socio left join
(
select count(*)as cant, idsocio 
from ActividadXSocio 
where FechaHasta is not null 
group by IDSocio) 
as Activos on activos.idsocio = socio.idsocio
where activos.cant is null

open cSocios

fetch next from cSocios
	into @nombre, @apellido
while(@@FETCH_STATUS=0)

BEGIN
	print 'socio sin actividad: '+@nombre + ' ' +@apellido
END

GO
/****** Object:  StoredProcedure [dbo].[spListarSociosActivosfuncionando]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[spListarSociosActivosfuncionando]
	
AS
declare @nombre nvarchar(50), @apellido nvarchar(50)

declare cSocios cursor scroll for
		select nombre, apellido
		from Socio left join
(
select count(*)as cant, idsocio 
from ActividadXSocio 
where FechaHasta is not null 
group by IDSocio) 
as Activos on activos.idsocio = socio.idsocio
where activos.cant is null

open cSocios

fetch next from cSocios
	into @nombre, @apellido
while(@@FETCH_STATUS=0)

BEGIN
	print 'socio sin actividad: '+@nombre + ' ' +@apellido
	fetch next from cSocios
	into @nombre, @apellido
END

GO
/****** Object:  StoredProcedure [dbo].[spListarSocioXAct]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spListarSocioXAct] @IDSocio bigint
	
AS
BEGIN
	
	select actividad.IDActividad, Actividad.Nombre, ActividadXSocio.FechaDesde, ActividadXSocio.FechaHasta
	from ActividadXSocio
	join Actividad on Actividad.IDActividad = ActividadXSocio.IDActividad
	where ActividadXSocio.IDSocio = @IDSocio and ActividadXSocio.FechaHasta is null

END

GO
/****** Object:  StoredProcedure [dbo].[spListarXAct]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spListarXAct] (@IDActividad int) as

begin

select nombre, apellido
from Socio
join ActividadXSocio actxsoc on actxsoc.IDSocio = Socio.IDSocio
where socio.Activo = 1 and actxsoc.FechaHasta is null and actxsoc.IDActividad = @IDActividad

end
GO
/****** Object:  UserDefinedFunction [dbo].[fEdad]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fEdad](@FechaNac date)
returns int
as
begin
	declare @edad int
	
	
	set @edad = datediff("d", @FechaNac, getdate())/365

	return @edad
end
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[IDActividad] [bigint] IDENTITY(1,1) NOT NULL,
	[IDResponsable] [bigint] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Actividad] PRIMARY KEY CLUSTERED 
(
	[IDActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActividadXSocio]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadXSocio](
	[IDActividadXSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[IDActividad] [bigint] NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL,
 CONSTRAINT [PK_ActividadXSocio] PRIMARY KEY CLUSTERED 
(
	[IDActividadXSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Arancel]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arancel](
	[IDArancel] [int] IDENTITY(1,1) NOT NULL,
	[IDActividad] [bigint] NOT NULL,
	[Mes] [int] NULL,
	[Año] [int] NULL,
	[Monto] [money] NULL,
 CONSTRAINT [PK_Arancel] PRIMARY KEY CLUSTERED 
(
	[IDArancel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CuotaXSocio]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuotaXSocio](
	[IDCuotaXSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[MesCuota] [int] NULL,
	[AñoCuota] [int] NULL,
	[FechaEmisionCuota] [datetime] NULL,
	[Cancelado] [int] NULL,
	[MontoPendiente] [int] NULL,
	[Anulado] [int] NULL,
	[MontoTotal] [int] NULL,
 CONSTRAINT [PK_CuotaSocio] PRIMARY KEY CLUSTERED 
(
	[IDCuotaXSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[IDLocalidad] [bigint] IDENTITY(1,1) NOT NULL,
	[CodPostal] [int] NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[IDLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pago]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IDPago] [bigint] IDENTITY(1,1) NOT NULL,
	[IDCuotaXSocio] [bigint] NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[NroComprob] [int] NULL,
	[FechaEmisionComprob] [nvarchar](10) NULL,
	[Monto] [int] NULL,
	[MontoTotal] [int] NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[IDPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Responsable]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsable](
	[IDResponsable] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
 CONSTRAINT [PK_Responsable] PRIMARY KEY CLUSTERED 
(
	[IDResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Socio]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socio](
	[IDSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[IDLocalidad] [bigint] NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[FechaAlta] [date] NULL,
	[FechaNac] [date] NULL,
	[Telefono] [bigint] NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
	[TelContacto] [bigint] NULL,
	[Activo] [int] NULL,
	[Direccion] [nvarchar](50) NULL,
	[UltimoMes] [nvarchar](10) NULL,
	[UltimoPago] [nvarchar](10) NULL,
 CONSTRAINT [PK_Socio] PRIMARY KEY CLUSTERED 
(
	[IDSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Socio/Localidad/Edad]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Socio/Localidad/Edad] as

SELECT        dbo.Socio.Nombre, dbo.Socio.Apellido, dbo.Socio.DNI, dbo.fEdad(dbo.Socio.FechaNac) AS Edad, loc.Nombre AS Localidad
FROM            dbo.Socio INNER JOIN
                         dbo.Localidad AS loc ON loc.IDLocalidad = dbo.Socio.IDLocalidad
GO
/****** Object:  View [dbo].[vSocio/Localidad]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vSocio/Localidad] as

SELECT        dbo.Socio.Nombre, dbo.Socio.Apellido, dbo.Socio.DNI, dbo.Socio.Direccion, loc.Nombre AS Localidad
FROM            dbo.Socio INNER JOIN
                         dbo.Localidad AS loc ON loc.IDLocalidad = dbo.Socio.IDLocalidad
GO
/****** Object:  View [dbo].[vSociosActivos]    Script Date: 15/7/2021 21:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vSociosActivos] 
as select * from Socio 
where Activo = 1
GO
SET IDENTITY_INSERT [dbo].[Actividad] ON 

INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [Nombre]) VALUES (1, 2, N'Basquet')
INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [Nombre]) VALUES (2, 4, N'Voley')
INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [Nombre]) VALUES (3, 3, N'Bochas')
SET IDENTITY_INSERT [dbo].[Actividad] OFF
SET IDENTITY_INSERT [dbo].[ActividadXSocio] ON 

INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (1, 4, 1, CAST(0xC91F0B00 AS Date), NULL)
INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (2, 4, 2, CAST(0x65000B00 AS Date), CAST(0x5B1E0B00 AS Date))
INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (3, 1, 3, CAST(0xA02C0B00 AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[ActividadXSocio] OFF
SET IDENTITY_INSERT [dbo].[CuotaXSocio] ON 

INSERT [dbo].[CuotaXSocio] ([IDCuotaXSocio], [IDSocio], [MesCuota], [AñoCuota], [FechaEmisionCuota], [Cancelado], [MontoPendiente], [Anulado], [MontoTotal]) VALUES (1, 1, 9, 2018, CAST(0x0000A95100000000 AS DateTime), 0, 1500, 1, 0)
SET IDENTITY_INSERT [dbo].[CuotaXSocio] OFF
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([IDLocalidad], [CodPostal], [Nombre]) VALUES (1, 1001, N'BUENOS AIRES')
INSERT [dbo].[Localidad] ([IDLocalidad], [CodPostal], [Nombre]) VALUES (6, 1088, N'CAPITAL FEDERAL')
INSERT [dbo].[Localidad] ([IDLocalidad], [CodPostal], [Nombre]) VALUES (12, 1426, N'C.A.B.A.')
GO
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([IDPago], [IDCuotaXSocio], [IDSocio], [NroComprob], [FechaEmisionComprob], [Monto], [MontoTotal]) VALUES (1, 1, 1, 1425, N'05/09/2018', NULL, 1500)
SET IDENTITY_INSERT [dbo].[Pago] OFF
SET IDENTITY_INSERT [dbo].[Responsable] ON 

INSERT [dbo].[Responsable] ([IDResponsable], [Nombre], [Apellido], [DNI], [Telefono], [Direccion], [CorreoElectronico]) VALUES (1, N'Marcela', N'Coronel', NULL, NULL, NULL, NULL)
INSERT [dbo].[Responsable] ([IDResponsable], [Nombre], [Apellido], [DNI], [Telefono], [Direccion], [CorreoElectronico]) VALUES (2, N'Daniel', N'Pasarella', NULL, NULL, NULL, NULL)
INSERT [dbo].[Responsable] ([IDResponsable], [Nombre], [Apellido], [DNI], [Telefono], [Direccion], [CorreoElectronico]) VALUES (3, N'Fernando', N'Redondo', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Responsable] OFF
SET IDENTITY_INSERT [dbo].[Socio] ON 

INSERT [dbo].[Socio] ([IDSocio], [IDLocalidad], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion], [UltimoMes], [UltimoPago]) VALUES (1, 181, N'Natanael Jonas', N'Terreno', 22807087, CAST(0xC5290B00 AS Date), CAST(0xB91F0B00 AS Date), 238349944, N'terrenonatanael@hotmail.com', 416660692, 1, N'Santiago del Estero 1818 - 2', NULL, N'9/2018')
INSERT [dbo].[Socio] ([IDSocio], [IDLocalidad], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion], [UltimoMes], [UltimoPago]) VALUES (2, 103, N'Alan', N'Terreno', 36832054, CAST(0x17100B00 AS Date), CAST(0xB0FA0A00 AS Date), 214524106, N'alant@yahoo.com', 584361207, 0, N'S/D', NULL, NULL)
INSERT [dbo].[Socio] ([IDSocio], [IDLocalidad], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion], [UltimoMes], [UltimoPago]) VALUES (3, 173, N'Jhon Paul', N'Alvarez', 49753973, CAST(0x40030B00 AS Date), CAST(0xAA080B00 AS Date), 617070499, N'socio@hotmail.com', 980443246, 1, N'S/D', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Socio] OFF
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Responsable] FOREIGN KEY([IDResponsable])
REFERENCES [dbo].[Responsable] ([IDResponsable])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Responsable]
GO
ALTER TABLE [dbo].[ActividadXSocio]  WITH CHECK ADD  CONSTRAINT [FK_ActividadXSocio_Actividad] FOREIGN KEY([IDActividad])
REFERENCES [dbo].[Actividad] ([IDActividad])
GO
ALTER TABLE [dbo].[ActividadXSocio] CHECK CONSTRAINT [FK_ActividadXSocio_Actividad]
GO
ALTER TABLE [dbo].[ActividadXSocio]  WITH CHECK ADD  CONSTRAINT [FK_ActividadXSocio_Socio] FOREIGN KEY([IDSocio])
REFERENCES [dbo].[Socio] ([IDSocio])
GO
ALTER TABLE [dbo].[ActividadXSocio] CHECK CONSTRAINT [FK_ActividadXSocio_Socio]
GO
ALTER TABLE [dbo].[Arancel]  WITH CHECK ADD  CONSTRAINT [FK_Arancel_Actividad] FOREIGN KEY([IDActividad])
REFERENCES [dbo].[Actividad] ([IDActividad])
GO
ALTER TABLE [dbo].[Arancel] CHECK CONSTRAINT [FK_Arancel_Actividad]
GO
ALTER TABLE [dbo].[CuotaXSocio]  WITH CHECK ADD  CONSTRAINT [FK_CuotaXSocio_Socio] FOREIGN KEY([IDSocio])
REFERENCES [dbo].[Socio] ([IDSocio])
GO
ALTER TABLE [dbo].[CuotaXSocio] CHECK CONSTRAINT [FK_CuotaXSocio_Socio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_CuotaSocio] FOREIGN KEY([IDCuotaXSocio])
REFERENCES [dbo].[CuotaXSocio] ([IDCuotaXSocio])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_CuotaSocio]
GO
ALTER TABLE [dbo].[Socio]  WITH CHECK ADD  CONSTRAINT [FK_Socio_Localidad] FOREIGN KEY([IDLocalidad])
REFERENCES [dbo].[Localidad] ([IDLocalidad])
GO
ALTER TABLE [dbo].[Socio] CHECK CONSTRAINT [FK_Socio_Localidad]
GO
USE [master]
GO
