USE [master]
GO
/****** Object:  Database [BDClubSocios]    Script Date: 8/8/2018 20:12:57 ******/
CREATE DATABASE [BDClubSocios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDClubSocios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDClubSocios.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDClubSocios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDClubSocios_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDClubSocios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDClubSocios]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[IDActividad] [bigint] IDENTITY(1,1) NOT NULL,
	[IDResponsable] [bigint] NOT NULL,
	[NombreAct] [nvarchar](50) NULL,
 CONSTRAINT [PK_Actividad] PRIMARY KEY CLUSTERED 
(
	[IDActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActividadXSocio]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadXSocio](
	[IDActividadXSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[IDActividad] [bigint] NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[FechaDesde] [datetime] NULL,
	[FechaHasta] [datetime] NULL,
 CONSTRAINT [PK_ActividadPorSocio] PRIMARY KEY CLUSTERED 
(
	[IDActividadXSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Arancel]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arancel](
	[IDArancel] [int] IDENTITY(1,1) NOT NULL,
	[IDActividad] [bigint] NOT NULL,
	[MesArancel] [int] NULL,
	[AñoArancel] [int] NULL,
	[MontoArancel] [money] NULL,
 CONSTRAINT [PK_Arancel] PRIMARY KEY CLUSTERED 
(
	[IDArancel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CuotaSocio]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuotaSocio](
	[IDCuotaSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[MesCuota] [int] NULL,
	[AñoCuota] [int] NULL,
	[FechaEmisionCuota] [datetime] NULL,
	[Cancelado] [int] NULL,
	[MontoPendiente] [money] NULL,
	[Anulado] [int] NULL,
 CONSTRAINT [PK_CuotaSocio] PRIMARY KEY CLUSTERED 
(
	[IDCuotaSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pago]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IDPago] [bigint] IDENTITY(1,1) NOT NULL,
	[IDCuotaSocio] [bigint] NOT NULL,
	[IDSocio] [bigint] NOT NULL,
	[NroComprob] [int] NULL,
	[FechaEmisionComprob] [int] NULL,
	[Monto] [money] NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[IDPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Responsable]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsable](
	[IDResponsable] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreResponsable] [nvarchar](50) NULL,
	[ApellidoResponsable] [nvarchar](50) NULL,
 CONSTRAINT [PK_Responsable] PRIMARY KEY CLUSTERED 
(
	[IDResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Socio]    Script Date: 8/8/2018 20:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socio](
	[IDSocio] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[FechaAlta] [date] NULL,
	[FechaNac] [date] NULL,
	[Telefono] [bigint] NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
	[TelContacto] [bigint] NULL,
	[Activo] [tinyint] NULL,
	[Direccion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Socio] PRIMARY KEY CLUSTERED 
(
	[IDSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actividad] ON 

INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [NombreAct]) VALUES (1, 2, N'Basquet')
INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [NombreAct]) VALUES (2, 4, N'Voley')
INSERT [dbo].[Actividad] ([IDActividad], [IDResponsable], [NombreAct]) VALUES (3, 3, N'Bochas')
SET IDENTITY_INSERT [dbo].[Actividad] OFF
SET IDENTITY_INSERT [dbo].[ActividadXSocio] ON 

INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (1, 2, 1340, CAST(0x0000A45C00000000 AS DateTime), NULL)
INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (2, 1, 1340, CAST(0x0000A2D500000000 AS DateTime), NULL)
INSERT [dbo].[ActividadXSocio] ([IDActividadXSocio], [IDActividad], [IDSocio], [FechaDesde], [FechaHasta]) VALUES (3, 2, 1341, CAST(0x0000A44E00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ActividadXSocio] OFF
SET IDENTITY_INSERT [dbo].[Responsable] ON 

INSERT [dbo].[Responsable] ([IDResponsable], [NombreResponsable], [ApellidoResponsable]) VALUES (1, N'Marcela', N'Coronel')
INSERT [dbo].[Responsable] ([IDResponsable], [NombreResponsable], [ApellidoResponsable]) VALUES (2, N'Daniel', N'Pasarella')
INSERT [dbo].[Responsable] ([IDResponsable], [NombreResponsable], [ApellidoResponsable]) VALUES (3, N'Fernando', N'Redondo')
SET IDENTITY_INSERT [dbo].[Responsable] OFF
SET IDENTITY_INSERT [dbo].[Socio] ON 

INSERT [dbo].[Socio] ([IDSocio], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion]) VALUES (1, N'Natanael', N'Terreno', 36106138, CAST(0x8E3E0B00 AS Date), CAST(0xF7190B00 AS Date), 3532496306, N'j.terreno@hotmail.com', 3532588849, 1, N'Santiago del Estero 1818 - 2')
INSERT [dbo].[Socio] ([IDSocio], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion]) VALUES (2, N'Alan', N'Terreno', NULL, CAST(0x731B0B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Socio] ([IDSocio], [Nombre], [Apellido], [DNI], [FechaAlta], [FechaNac], [Telefono], [CorreoElectronico], [TelContacto], [Activo], [Direccion]) VALUES (3, N'Jhon Paul', N'Alvarez', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Socio] OFF
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Responsable] FOREIGN KEY([IDResponsable])
REFERENCES [dbo].[Responsable] ([IDResponsable])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Responsable]
GO
ALTER TABLE [dbo].[ActividadXSocio]  WITH CHECK ADD  CONSTRAINT [FK_ActividadPorSocio_Actividad] FOREIGN KEY([IDActividad])
REFERENCES [dbo].[Actividad] ([IDActividad])
GO
ALTER TABLE [dbo].[ActividadXSocio] CHECK CONSTRAINT [FK_ActividadPorSocio_Actividad]
GO
ALTER TABLE [dbo].[ActividadXSocio]  WITH CHECK ADD  CONSTRAINT [FK_ActividadPorSocio_Socio] FOREIGN KEY([IDSocio])
REFERENCES [dbo].[Socio] ([IDSocio])
GO
ALTER TABLE [dbo].[ActividadXSocio] CHECK CONSTRAINT [FK_ActividadPorSocio_Socio]
GO
ALTER TABLE [dbo].[Arancel]  WITH CHECK ADD  CONSTRAINT [FK_Arancel_Actividad] FOREIGN KEY([IDActividad])
REFERENCES [dbo].[Actividad] ([IDActividad])
GO
ALTER TABLE [dbo].[Arancel] CHECK CONSTRAINT [FK_Arancel_Actividad]
GO
ALTER TABLE [dbo].[CuotaSocio]  WITH CHECK ADD  CONSTRAINT [FK_CuotaSocio_Socio] FOREIGN KEY([IDSocio])
REFERENCES [dbo].[Socio] ([IDSocio])
GO
ALTER TABLE [dbo].[CuotaSocio] CHECK CONSTRAINT [FK_CuotaSocio_Socio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_CuotaSocio] FOREIGN KEY([IDCuotaSocio])
REFERENCES [dbo].[CuotaSocio] ([IDCuotaSocio])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_CuotaSocio]
GO
USE [master]
GO
